@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
$bg-color: #0e112b;
$bg-color-light: rgb(17, 24, 65);
$sidebar-hover-color: #3f8ffc;
$text-main-color: #f1f1f1;

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Poppins, sans-serif;
    background: $bg-color;
}

main{
    position: relative;
    width: 100%;
    
}
.menu{
    position: relative;
    width: 30px;
    height: 30px;
    //background: rgba(255,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    .hamburger{
        display: block;
        position: absolute;
        left: 0;
        height: 3px;
        width: 30px;
        background: $text-main-color;
        border-radius: 3px;
    }
}
header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $bg-color-light;
    //box-shadow: 1px 1px 5px 1px white;
    z-index: 1000;

    .logo{
        color: $text-main-color;
        text-decoration: none;
        font-size: 1.3em;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
    }

    #open{
        display: block;
        transition: .5s ease-in-out;
        

        .hamb1{
            top: 5px;
            transform: rotate(0);
            animation: hamb1-anim .5s ease-in-out backwards;
        }
        .hamb2{
            top: 12px;
            animation: hamb2-anim .5s ease-in-out forwards;
        }
        .hamb3{
            top: 20px;
            animation: hamb3-anim .5s ease-in-out forwards;

        }
    }
    #close{
        display: none;
        transition: .5s ease-in-out;

        .hamb1{
            top: 50%;
            transform: rotate(45deg);
            animation: hamb1-close-anim .5s ease-in-out forwards;
        }
        .hamb2{
            top: 50%;
            transform: rotate(315deg);
            animation: hamb2-close-anim .5s ease-in-out forwards;

        }
    }
}
.sidebar{
    position: fixed;
    right: -100%;
    transition: 0.5s ease-in;
    top: 0;
    width: 100%;
    height: 100%;

    background: $bg-color-light;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    

    ul{
        position: relative;
        display: flex;
        flex-direction: column;

        li{
            list-style: none;
            margin: 5px 0;

            a{
                color: $text-main-color;
                font-size: 1.3em;
                font-weight: 400;
                text-decoration: none;
                &:hover{
                    color: $sidebar-hover-color;
                }
            }
        }
    }

    &.active{
        right: 0;
    }
}

.content{
    position: relative;
    width: 100%;
    padding: 40px 20px;
    border: 1px dashed $text-main-color;
    color: $text-main-color;
}

@keyframes hamb1-anim{
    from{
        transform: rotate(45deg);
    }
    to{
        transform: rotate(0deg);
    }
}
@keyframes hamb2-anim{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes hamb3-anim{
    from{
        transform: rotate(45deg);
    }
    to{
        transform: rotate(0deg);
    }
}
@keyframes hamb1-close-anim{
    from{
        top: 0%;
        right: -50%;
    }
    to{
        top: 50%;
        right: 0;
    }
}
@keyframes hamb2-close-anim{
    from{
        top: 0%;
        left: -50%;
    }
    to{
        top: 50%;
        left: 0;
    }
}

@media only screen and (min-width: 600px) {
    header{
        padding: 20px 60px;
    }
    .sidebar{
        width: 50%;
        right: -50%;
    }
    .content{
        padding: 40px 60px;
    }
}
@media only screen and (min-width: 800px) {
    header{
        padding: 20px 80px;
    }
    .sidebar{
        width: 30%;
        right: -30%;
    }
    .content{
        padding: 40px 80px;
    }
}
@media only screen and (min-width: 1050px) {
    header{
        padding: 20px 100px;
    }
    .sidebar{
        width: 20%;
        right: -20%;
    }
    .content{
        padding: 40px 100px;
    }
}

